table {
  font-family: OpenSans-Regular;
  border-collapse: collapse;
  position: relative;
  width: 100%;
  background: white;
  overflow: hidden;
  border-radius: 10px;
  th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
    text-align: left;
    padding-left: 40px;
  }

  td {
    padding: 15px 40px;
  }

  thead tr {
    height: 60px;
    background: #36304a;
  }

  tbody {
    tr {
      font-size: 15px;
      color: #808080;
      line-height: 1.2;
      font-weight: unset;
    }
    tr:hover {
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    td {
      width: 260px;
    }
  }
}
input[type="text"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
}
.sortArrow {
  cursor: pointer;
}