input[type="file"] {
  margin: 8px 0;
  cursor: pointer;
  width: 130px;
  height: 34px;
  overflow: hidden;
}
input[type=file]:before {
  width: 108px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  content: 'Import csv';
  display: inline-block;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  text-align: center;
}
input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}
#errorMessage {
  color: red;
}